<table [formGroup]="myF">
  <tbody>
    <tr>
      <td>Name</td>
      <td><input type="text" formControlName="name" /></td>
    </tr>
    <tr>
      <td>Country</td>
      <td>
        <select name="" id="" formControlName="country">
          <option value="" selected><--Select State --></option>
          <option [value]="item.value" *ngFor="let item of countries">
            {{ item.label }}
          </option>
        </select>
      </td>
      <td>States</td>
      <td>
        <select name="" id="" formControlName="state">
          <option value="" selected><--Select State --></option>
          <option [value]="item" *ngFor="let item of currentStates">
            {{ item }}
          </option>
        </select>
      </td>
    </tr>
  </tbody>
</table>

<hr />
{{ myF.value | json }}
